<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @logged_in %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content index_background">
  <div class="container-fluid">
    <h2><%= t(:available_packages, scope: 'locale.messages') %></h2>
    <div class="row">
      <div class="index_package">
        <% if @product_attrs %>
          <% @product_attrs.each do |p| %>
            <div class="package_image"><%= image_tag("package.png", alt: "package") %></div>
            <div class="package_data">
              <div class="package_name"><b><%= p[0] %></b></div>
              <div class="package_settings"><%= t(:minimum_quantity, scope: 'locale.messages.package') %>: <%= p[1].minimum_quantity %></div>
              <div class="package_settings"><%= t(:maximum_quantity, scope: 'locale.messages.package') %>: <%= p[1].maximum_quantity %></div>
              <div class="package_settings"><%= t(:width, scope: 'locale.messages.package') %>: <%= p[1].width*',' %></div>
              <div class="package_settings"><%= t(:height, scope: 'locale.messages.package') %>: <%= p[1].height*',' %></div>
              <div class="package_settings"><%= t(:length, scope: 'locale.messages.package') %>: <%= p[1].length*',' %></div>
              <div class="package_material"><%= t(:material, scope: 'locale.messages.package') %>: <%= p[1].material*',' %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= yield %>
<%= render "layouts/footer" %>
