<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @logged_in %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <% if @logged_in %>
      <div class="col-md-11">
        <div class="card" style="max-width: 50%">
          <div class="card-header">
            <h4 class="card-title"><%= t(:logout, scope: 'locale.messages') %></h4>
          </div>
          <div class="card-body">
            <form>
              <a href="logout" class="btn btn-info btn-fill pull-right"><%= t(:logout, scope: 'locale.messages') %></a>
              <div class="clearfix"></div>
              <div class="register-account">
                <%= t(:already_signed_in, scope: 'locale.messages') %>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% else %>
      <div class="col-md-11">
        <div class="card" style="max-width: 50%">
          <div class="card-header">
            <h4 class="card-title"><%= t(:login, scope: 'locale.messages') %></h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="login-email" placeholder="<%= t(:login_from_email_placeholder, scope: 'locale.messages') %>" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label><%= t(:password, scope: 'locale.messages') %></label>
                    <input type="password" class="form-control" id="login-password" placeholder="<%= t(:login_from_password_placeholder, scope: 'locale.messages') %>" value="">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info btn-fill pull-right" id="btnSubmit"><%= t(:login, scope: 'locale.messages') %></button>
              <div class="clearfix"></div>
              <div class="register-account">
                <%= t(:login_form_register, scope: 'locale.messages') %> <%= link_to t(:register, scope: 'locale.messages'), home_register_path %>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% end %>
      <script>
      $(document).ready(function () {
        $("#btnSubmit").click(function (event) {
          var email = $('#login-email').val();
          var password = $('#login-password').val();
          customerAuthorizationScope.loginFunction.send(email, password);
        });
      });
      </script>
<%= render "layouts/footer" %>
