<%= simple_form_for customer, method: 'put' do |f| %>
<div class="row">
  <div class="col-md-5 pr-1">
    <div class="form-group">
      <%= f.label t(:company, scope: 'locale.messages.profile') %>
      <%= f.input :company, input_html: { class: 'form-control disabled' }, placeholder: t(:company, scope: 'locale.messages.profile').html_safe, label: false %>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="form-group">
      <%= f.label t(:username, scope: 'locale.messages.profile') %>
      <%= f.input :username, input_html: { class: 'form-control disabled' }, placeholder: t(:username, scope: 'locale.messages.profile').html_safe, label: false %>
    </div>
  </div>
  <div class="col-md-4 pl-1">
    <div class="form-group">
      <%= f.label t(:email, scope: 'locale.messages.profile') %>
      <%= f.input :email, input_html: { class: 'form-control disabled' }, placeholder: t(:email, scope: 'locale.messages.profile').html_safe, label: false %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 pr-1">
    <div class="form-group">
      <%= f.label t(:first_name, scope: 'locale.messages.profile') %>
      <%= f.input :first_name, input_html: { class: 'form-control' }, error: false, placeholder: t(:first_name, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :first_name, class: 'error_notification' if customer.errors.attribute_names.include?(:first_name) %>
    </div>
  </div>
  <div class="col-md-6 pl-1">
    <div class="form-group">
      <%= f.label t(:last_name, scope: 'locale.messages.profile') %>
      <%= f.input :last_name, input_html: { class: 'form-control' }, error: false, placeholder: t(:last_name, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :first_name, class: 'error_notification' if customer.errors.attribute_names.include?(:last_name) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label t(:address, scope: 'locale.messages.profile') %>
      <%= f.input :address, input_html: { class: 'form-control' }, placeholder: t(:address, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :address, class: 'error_notification' if customer.errors.attribute_names.include?(:address) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 pr-1">
    <div class="form-group">
      <%= f.label t(:city, scope: 'locale.messages.profile') %>
      <%= f.input :city, input_html: { class: 'form-control' }, placeholder: t(:city, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :city, class: 'error_notification' if customer.errors.attribute_names.include?(:city) %>
    </div>
  </div>
  <div class="col-md-4 px-1">
    <div class="form-group">
      <%= f.label t(:country, scope: 'locale.messages.profile') %>
      <%= f.input :country, input_html: { class: 'form-control' }, placeholder: t(:country, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :country, class: 'error_notification' if customer.errors.attribute_names.include?(:country) %>
    </div>
  </div>
  <div class="col-md-4 pl-1">
    <div class="form-group">
      <%= f.label t(:postal_code, scope: 'locale.messages.profile') %>
      <%= f.input :postal_code, input_html: { class: 'form-control' }, placeholder: t(:postal_code, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :postal_code, class: 'error_notification' if customer.errors.attribute_names.include?(:postal_code) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label t(:about_me, scope: 'locale.messages.profile') %>
      <%= f.input :customer_description, input_html: { class: 'form-control' }, placeholder: t(:customer_description, scope: 'locale.messages.profile').html_safe, label: false %>
      <%= f.error :customer_description, class: 'error_notification' if customer.errors.attribute_names.include?(:customer_description) %>
    </div>
  </div>
</div>
  <%= f.button :submit, class: "btn btn-info btn-fill pull-right" %>
<% end %>
