<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @logged_in %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <h2><%= t(:customer_profile, scope: 'locale.messages.profile') %></h2>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><%= @customer.username %></h4>
            </div>
            <div class="card-body">
                <%= render "form", customer: @customer %>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="card-image">
            <%= image_tag("profile_background.png", alt: "profile_background") %>
          </div>
          <div class="card-body">
            <div class="author">
              <a href="<% edit_customer_path(@customer) %>">
                <%= image_tag("default_profile_image.png", alt: "default_profile_image", class: "avatar border-gray") %>
                <h5 class="title"><%= @customer.first_name_was %> <%= @customer.last_name_was %></h5>
              </a>
              <p class="description">
                <b><%= @customer.company_was %></b>
              </p>
            </div>
              <p class="description text-center">
                <%= @customer.address_was %>
                <br />
                <%= @customer.city_was %>
                <br />
                <%= @customer.postal_code_was %>
                <br />
                <%= @customer.country_was %>
              </p>
          </div>
          <hr>
          <div class="button-container mr-auto ml-auto">
            <a href="https://www.linkedin.com" class="btn btn-simple btn-link btn-icon" target="_blank">
              <%= image_tag("linkedin.png", alt: "linkedin", style: "width: 25px; height: 25px;") %>
            </a>
            <a href="https://twitter.com" class="btn btn-simple btn-link btn-icon" target="_blank">
              <%= image_tag("twitter.png", alt: "twitter", style: "width: 25px; height: 25px;") %>
            </a>
            <a href="https://www.xing.com" class="btn btn-simple btn-link btn-icon" target="_blank">
              <%= image_tag("xing.png", alt: "xing", style: "width: 25px; height: 25px;") %>
            </a>
          </div>
        </div>
      </div>
<%= render "layouts/footer" %>
