<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @customer %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p><%= t(:modal_message, scope: 'locale.messages.offer') %></p>
      <br />
      <div>
        <%= link_to 'Accept', "javascript:;", class: "btn btn-success btn-fill pull-right offer_status_button", id: "accept_offer", offer_option: 'accept' %>
        <%= link_to 'Decline', "javascript:;", class: "btn btn-danger btn-fill pull-right offer_status_button", id: "decline_offer", offer_option: 'decline' %>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row">
        <% if @offers_grid.present? %>
          <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
              <div class="card-header ">
                <h4 class="card-title">Customer Offers</h4>
                <p class="card-category">Total: <%= @offers_grid.assets.total_count %></p>
              </div>
              <div class="card-body table-full-width table-responsive">
                <%= datagrid_table(@offers_grid) %>
                <%= paginate @offers_grid.assets %>
              </div>
            </div>
          </div>
        <% end %>
<script>
  var modal = document.getElementById("myModal");
  var span = document.getElementsByClassName("close")[0];

  $(".offer_status").on("click",function() {
    event.preventDefault();
    if ($(this).attr('offer_status') == 'pending') {
      modal.style.display = "block";
      offer_id = $(this).attr('offer_id');
    } else {
      modal.style.display = "none";
    }
  });

  $("#accept_offer").on("click",function() {
    modal.style.display = "none";
    offerScope.acceptOfferFunction.send(offer_id);
  });

  $("#decline_offer").on("click",function() {
    modal.style.display = "none";
    offerScope.declineOfferFunction.send(offer_id);
  });

  span.onclick = function() {
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
<%= render "layouts/footer" %>
