<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @customer %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title"><%= t(:offer_details, scope: 'locale.messages.offer') %></h4>
            <br />
            <% if @offer.present? %>
            <div class="card">
              <div class="card-header">
                <%= @offer.name %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= t(:price, scope: 'locale.messages.offer') %>: <%= @offer.price %></h5>
                <br />
                <p class="card-text"><%= @offer.description %></p>
                <br />
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                      <thead class="thead-light">
                        <tr>
                          <th class="border-0">ID</th>
                          <th class="border-0">Status</th>
                          <th class="border-0"><%= t(:created, scope: 'locale.messages.offer') %></th>
                          <th class="border-0"><%= t(:updated, scope: 'locale.messages.offer') %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="border-0"><%= @offer.id %></td>
                          <% if @offer.status == 'accepted' %>
                          <td class="border-0 fw-bold" style="color: green"><%= @offer.status %></td>
                          <% elsif @offer.status == 'pending' %>
                          <td class="border-0 fw-bold" style="color: grey"><%= @offer.status %></td>
                          <% else %>
                          <td class="border-0 fw-bold" style="color: red"><%= @offer.status %></td>
                          <% end %>
                          <td class="border-0 text-danger">
                            <span class="fw-bold"><%= @offer.created_at.strftime('%Y-%m-%d %H:%M') %></span>
                          </td>
                          <td class="border-0 text-danger">
                            <span class="fw-bold"><%= @offer.updated_at.strftime('%Y-%m-%d %H:%M') %></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br />
                <div class="col-12 mb-4">
                  <div class="card border-light shadow-sm">
                    <div class="card-header">
                      <div class="row align-items-center">
                        <div class="col">
                          <h2 class="h5"><%= t(:offer_products, scope: 'locale.messages.offer') %>: <%= @offer.products.count %></h2>
                        </div>
                        <div class="col text-right">
                          <a href="<%= offers_path %>" class="btn btn-sm btn-secondary"><%= t(:offers, scope: 'locale.messages.offer') %></a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col"><%= t(:name, scope: 'locale.messages.offer') %></th>
                            <th scope="col"><%= t(:quantity, scope: 'locale.messages.offer') %></th>
                            <th scope="col"><%= t(:price, scope: 'locale.messages.offer') %></th>
                            <th scope="col"><%= t(:created, scope: 'locale.messages.offer') %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @offer.products.each do |product| %>
                          <tr>
                            <th scope="row"><%= product.id %></th>
                            <td><%= product.name %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.price %></td>
                            <td><%= product.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% else %>
              <div class="card-body">
                <h5 class="card-title"><%= t(:no_offers, scope: 'locale.messages.offer') %></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= yield %>
<%= render "layouts/footer" %>
