<%= render "layouts/header" %>
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <% if @customer %>
            <%= link_to t(:logout, scope: 'locale.messages'), home_logout_path %>
          <% else %>
            <%= link_to t(:login, scope: 'locale.messages'), home_login_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
              <h4 class="card-title">Offer Products</h4>
              <p class="card-category">Total: <%= @products_grid.rows.count %></p>
            </div>
            <div class="card-body table-full-width table-responsive">
              <%= datagrid_table(@products_grid) %>
            </div>
          </div>
        </div>
<%= render "layouts/footer" %>
