    </div>
      </div>
      </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav>
              <ul class="footer-menu">
                <li>
                  <%= link_to t(:main, scope: 'locale.messages.sidebar'), root_path %>
                </li>
                <li>
                  <% if @logged_in && @customer.present? %>
                    <%= link_to t(:customer_profile, scope: 'locale.messages.profile'), edit_customer_path(@customer) %>
                  <% else %>
                    <%= link_to t(:customer_profile, scope: 'locale.messages.profile'), home_login_path %>
                  <% end %>
                </li>
              </ul>
              <p class="copyright text-center">
                © 2021
                <a href="https://syngress.pl">Syngress Network</a>, pack manager demo
              </p>
            </nav>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
