<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Pack Manager</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="wrapper">
    <div class="sidebar" data-color="blue">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="/" class="simple-text">
            Pack Manager
          </a>
        </div>
        <ul class="nav">
          <% if @logged_in && @customer.present? %>
            <li class="<%= 'nav-item active' if current_page?(root_path) %>">
              <a class="nav-link" href="<%= root_path %>">
                <%= image_tag("home.png", alt: "home", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:main, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li class="<%= 'nav-item active' if current_page?(edit_customer_path(@customer)) %>">
              <a class="nav-link" href="<%= edit_customer_path(@customer) %>">
                <%= image_tag("profile_sidebar.png", alt: "profile", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:profile, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li class="<%= 'nav-item active' if current_page?(products_path) %>">
              <a class="nav-link" href="<%= products_path %>">
                <%= image_tag("product_sidebar.png", alt: "product", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:products, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li class="<%= 'nav-item active' if current_page?(offers_path) %>">
              <a class="nav-link" href="<%= offers_path %>">
                <%= image_tag("offer_sidebar.png", alt: "offers", style: 'height:23px;width:23px;margin-right: 10px;') %>
                <p><%= t(:offers, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
          <% else %>
            <li class="<%= 'nav-item active' if current_page?(root_path) %>">
              <a class="nav-link" href="<%= root_path %>">
                <%= image_tag("home.png", alt: "home", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:main, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li>
              <a class="nav-link" href="<%= home_login_path %>">
                <%= image_tag("profile_sidebar.png", alt: "profile", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:profile, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li>
              <a class="nav-link" href="<%= home_login_path %>">
                <%= image_tag("product_sidebar.png", alt: "product", style: 'height:20px;width:20px;margin-right: 10px;') %>
                <p><%= t(:products, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
            <li>
              <a class="nav-link" href="<%= home_login_path %>">
                <%= image_tag("offer_sidebar.png", alt: "offers", style: 'height:23px;width:23px;margin-right: 10px;') %>
                <p><%= t(:offers, scope: 'locale.messages.sidebar') %></p>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="main-panel">
    <div id='flash' class='flex-column'>
      <%= render partial: 'layouts/flash'  %>
    </div>

<!-- Navbar -->
